@import './_variables',
        './_fonts.scss';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {

    body{      
            background-color: $primaria;
            height: 100%;
        #app{
            display: flex;
            justify-content: center;
            align-items: center;      
            
        }
    }
}