

$primaria:   #e1e1e1;
$secundaria: #c5c5c5;
$terciaria:  #f4f4f4;
$quaternaria:#989898;
$preto:      #525252; 
$branco:     #fff;
$cinza:      #cacaca;     
$cinza-escuro: #989898;
$vermelho: red;
$verde: green;