@import '../../assets/scss/main.scss';

.box{
    display: block;
 
    margin: 30px 0;      
    border: 2px solid $secundaria;
    background-color: $terciaria;
    .erro{
        color: $vermelho;
        font-size: 10px;
        margin: 0;
        padding: 5px;
        text-align: left;
      }
    
    .box-header{
        display: flex;
        justify-content: flex-end;
        height: 20px;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .box__formulario,
        .box__preview{
         margin-top: 20px;
         padding: 30px;
        }
    }
   
   
    
    p{
        cursor: pointer;
        font-size: 1.5em;
        font-weight: bold;
        margin: 10px;
        padding: 15px;
        text-align: center;
    }
   
    
    .box__linha{
        width: 2px;
        height: 50vh;
        background-color: #e2e2e2;
        margin: auto 30px;
    }   

    .modal-mask{
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;

        .modal{            
            vertical-align: middle;
            width: 300px;
            margin: 200px auto;
            padding: 20px 30px;
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
            transition: all .3s ease;
            font-family: Helvetica, Arial, sans-serif;
            p{
                font-weight: 100;
                font-size: 1em;
                margin: 10px 5px;
            }
            .btn-modal{
                width: fit-content;
                background: black;
                border: none;
                padding: 10px;
                color: #fff;
                border-radius: 5px;
                font-size: 0.8em;
                cursor: pointer;
                margin: 0 5px;
            }
        }
        .modal-enter {
            opacity: 0;
        }
          
        .modal-leave-active {
            opacity: 0;
        }
          
        .modal-enter .modal-container,
        .modal-leave-active .modal-container {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}

@media only screen and (max-width: 320px) {
    .box{
        height: auto;             
        .container{
            padding: 10px;
        } 
        .box__linha{
            width: 70%;
            height: 2px;
            background-color: #e2e2e2;
            margin-bottom: 10px;
        }
     
    }
}


@media only screen and (max-width: 480px) {
    .box{
        height: auto;    
        .container{
            padding: 10px;
        }    
       
        .box__linha{
            width: 70%;
            height: 2px;
            background-color: #e2e2e2;
            margin-bottom: 10px;
        }
        
    }
}

@media only screen and (max-width: 720px) {
    .box{
        height: auto;  
        .container{
            padding: 10px;
        }  
        .box__linha{
            width: 70%;
            height: 2px;
            background-color: #e2e2e2;
            margin-bottom: 10px;
        }
    }
}
